<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943907612249-f2itj6uos1kaf7o66ets49kpuclas2ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943907612249-f2itj6uos1kaf7o66ets49kpuclas2ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBT7d5_ik13NuDi5yXxqm9bNIc_vei8Ccw</string>
	<key>GCM_SENDER_ID</key>
	<string>943907612249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siphty.ShiftLog</string>
	<key>PROJECT_ID</key>
	<string>shiftlog-37b01</string>
	<key>STORAGE_BUCKET</key>
	<string>shiftlog-37b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943907612249:ios:deed2c24bf89bd6f</string>
	<key>DATABASE_URL</key>
	<string>https://shiftlog-37b01.firebaseio.com</string>
</dict>
</plist>